@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #FBFBFB;
    line-height: 1.5;
    font-family: "Noto Sans TC", "Noto Sans", sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

.blue {
    color: #0027D5;
}

.grey {
    color: #4B4B4B;
}

.border-b-hr {
    border-bottom: 1px solid black;
}

/*
.fs-1 {
    font-size: 16px;
}

.fs-2 {
    font-size: 20px;
}

.fs-3 {
    font-size: 24px;
}

.fs-4 {
    font-size: 28px;
}

.fs-5 {
    font-size: 64px;
}

.fs-6 {
    font-size: clamp(3.25rem, 6vw, 7.5rem);
}

*/
.fw-medium {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}

.index-title {
    margin-bottom: 24px;
}

.fs-120 {
    font-size: clamp(3.25rem, 6vw, 7.5rem);
}

.fs-64 {
    font-size: 64px;
}

.fs-32 {
    font-size: 32px;
}

.fs-28 {
    font-size: 28px;
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}


.address-media li {
    font-size: 28px;
}

.about-desc-fs p {
    font-size: 28px;
}

.mb-24 {
    margin-bottom: 24px;
}


@media screen and (max-width: 768px) {

    /* .index-title {
        font-size: 48px;
    }*/
    .fs-64 {
        font-size: 48px;
    }

    .fs-32 {
        font-size: 24px;
    }

    .address-media li {
        font-size: 24px;
    }

    .about-desc-fs p {
        font-size: 24px;
    }
}